/* Input styles */
.input {
	border: 1px solid #888;
	width: 100%;
	padding: 20px;
	border-radius: 35px;
	background-color: var(--light);
	margin: 20px 0;
	box-shadow: 0px 8px 16px rgba(226, 81, 76, 0.15);
}

.textField {
	border: none;
	outline: none;
	font-size: 20px;
	background-color: transparent;
	width: 85%;
}
.textField:focus {
	background-color: var(--light);
}

.icon {
	font-size: 20px;
	margin-right: 20px;
	color: var(--darkgrey);
}

@media screen and (min-width: 220px) and (max-width: 481px) {
	.textField {
		width: 80%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1060px) {
	.textField {
		width: 75%;
	}
}
