/* Input styles */
.input {
  border: 1px solid #888;
  width: 100%;
  padding: 20px;
  border-radius: 35px;
  background-color: var(--light);
  margin: 20px 0;
  box-shadow: 0px 8px 16px rgba(226, 81, 76, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textField {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
  width: 80%;
  margin-right: 1rem;
  border-color: #dfe1e5;
}
.textField:focus {
  background-color: var(--light);
}

.icon {
  font-size: 20px;
  margin-right: 20px;
  color: var(--darkgrey);
  display: flex;
  justify-content: center;
}
