/** @format */

.input {
  border: 1px solid #161616;
  width: 100%;
  padding: 20px;
  border-radius: 35px;
  background-color: var(--light);
  margin: 20px 0;
}
.textField {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}
.icon {
  font-size: 20px;
  margin-right: 20px;
  color: var(--darkgrey);
}
