.form-para {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.form-parent {
  display: flex;
  place-items: center;
  width: 500px;
  margin: auto;
}
.signup-hero-container {
  width: 100%;
}

.login-hero {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login-hero {
    display: none;
  }
  .form-parent {
    width: 100%;
    margin: auto;
  }
  .form-container {
    grid-template-columns: 1fr;
  }
} ;
