/* Button styles */
.btn {
	width: 100%;
	height: 62px;
	border: none;
	outline: none;
	border-radius: 35px;
	padding: 10px 16px;
	font-size: 20px;
	/* margin: 20px auto; */
	transition: all 0.5s ease-in-out;
}

.btn:hover {
	background-color: #ffffff;
	color: #f0916c;
}

.btn-primary {
	background-color: var(--primary);
	color: var(--light);
}
.btn-light {
	background: #ffffff;
	box-shadow: 0px 8px 16px rgba(226, 81, 76, 0.15);
	border-radius: 32px;
}

.btn-dark {
	border: 1px solid var(--dark);
}
.btn-dark:hover {
	border: 1px solid var(--primary);
}

.btn-primary:hover {
	background-color: #f0916c;
	color: var(--light);
}
