/** @format */

.btn {
  background-color: var(--primary);
  width: 100%;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 20px;
  font-size: 20px;
  color: var(--light);
  margin: 20px auto;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #f0916c;
  color: #fff;
}
