.browse-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.browse-hero-desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  gap: 20px;
  margin-left: 30px;
}

.browse-hero-desc h2 {
  font-size: 48px;
  font-weight: 600;
}

.browse-hero-img {
  width: auto;
}

.browse-hero-img img {
  width: 100%;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.event-card-placeholder {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.event-header {
  margin: 30px auto;
}

.more-btn {
  width: 418px;
  margin: 20px auto;
}
.arrow-icon {
  font-size: 20px;
}

.preview-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview-image {
  padding: 20px 40px;
  background-color: #ddd;
  width: 500px;
}
.preview-image img {
  width: 100%;
}
.sub-preview-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  transform: translateX(210px);
  margin-top: -100px;
}
.preview-desc {
  margin-bottom: 40px;
}
.preview-desc p {
  width: 600px;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  .events-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .browse-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .browse-hero-desc {
    margin: auto;
    /* width: 500px; */
    max-width: 100%;
  }
  .browse-hero-img {
    max-width: 100%;
  }

  .event-card-placeholder {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .more-btn {
    max-width: 70%;
    margin: 20px auto;
  }
}
