.main-header-widget {
	background: #da564a;
	margin: 20px 0;
}

.main-header-widget .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 0;
	line-height: 47px;
	align-items: center;
	color: #ffffff;
}

.hire-text,
.hire-btn {
	font-family: "Google Sans", sans-serif;
}

.hire-text p:nth-child(1) {
	font-size: 40px;
}

.hire-btn {
	width: 210px;
}

.hire-btn .btn-click {
	color: var(--primary);
	background: var(--light);
}

@media screen and (max-width: 768px) {
	.main-header-widget {
		margin: 0;
	}

	.main-header-widget .container {
		padding: 1rem;
		justify-content: center;
		text-align: center;
	}

	.hire-text p:nth-child(2) {
		padding: 12px;
	}

	.hire-btn .btn-click {
		height: auto;
	}
}
