.nav-bar .container {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger-menu,
.close-menu {
	display: none;
}

.nav-bar .container .desktop-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 22px;
}

.nav-bar-items .nav-bar-menu-list {
	display: none;
}

.nav-bar .container .desktop-menu {
	display: flex;
}
.nav-bar .container .desktop-menu li,
.nav-bar-items .nav-bar-menu-list li,
.nav-bar .container .desktop-menu div,
.nav-bar-items .nav-bar-menu-list div {
	display: flex;
	margin-left: 2rem;
	list-style-type: none;
	transition-delay: 0.2s;
	border-bottom: none;
	transition: all 0.5s ease-in-out;
}
/* .nav-bar .container .desktop-menu li:hover,
.nav-bar-items .nav-bar-menu-list li:hover {
  border-bottom: 2px solid var(--primary);
} */

.nav-bar-items .nav-bar-menu-list li span,
.nav-bar .container .desktop-menu span {
	margin-right: 5px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 220px) {
	.nav-bar .container {
		align-items: unset;
	}

	.nav-bar .container .desktop-menu {
		display: none;
	}

	.nav-bar-items {
		position: fixed;
		top: 0;
		right: 0;
		width: 200px;
		height: 100%;
		transition: all 0.3s ease-in-out;
		background: var(--light);
		z-index: 1;
	}

	.hamburger-menu,
	.close-menu {
		display: block;
		font-size: 30px;
		color: var(--dark);
	}

	.nav-bar-items .close-menu {
		float: right;
		margin: 1rem;
	}

	.nav-bar-items .nav-bar-menu-list {
		display: flex;
		flex-direction: column;
		font-size: 22px;
		align-items: flex-end;
		padding-right: 1.5rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 2;
		transition: all 0.5s ease-in-out;
	}

	.nav-bar-items .nav-bar-menu-list li {
		margin-bottom: 0.7rem;
	}
	.nav-bar-items .nav-bar-menu-list li:nth-child(1) {
		transition-delay: 0.7s;
	}
	.nav-bar-items .nav-bar-menu-list li:nth-child(2) {
		transition-delay: 0.7s;
	}
	.nav-bar-items .nav-bar-menu-list li:nth-child(3) {
		transition-delay: 0.7s;
	}
}
