@import url("https://fonts.googleapis.com/css?family=Google+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Google+Sans:wght@300;500&display=swap"); */

/* Utility Colors */
:root {
  --primary: #f17140;
  --secondary: #da564a;
  --tertiary: #a65a54;
  --dark: #0b0d17;
  --light: #f9f9f9;
  --grey: #161616;
  --darkgrey: #21212152;
  --light-grey: hsla(0, 0%, 100%, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}

/* Button styles */
.btn {
  width: 100%;
  height: 62px;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 10px 16px;
  font-size: 20px;
  /* margin: 20px auto; */
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
  color: #f0916c;
}

/* Input styles */
.input {
  border: 1px solid #161616;
  width: 100%;
  padding: 20px;
  border-radius: 35px;
  background-color: var(--light);
  margin: 20px 0;
}
.textField {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}
.icon {
  font-size: 20px;
  margin-right: 20px;
  color: var(--darkgrey);
}

@media screen and (max-width: 464px) {
  .container {
    width: 90%;
  }
}
