@import url("https://fonts.googleapis.com/css?family=Google+Sans:wght@300;500&display=swap");

/* Utility Colors */
:root {
	--primary: #f17140;
	--secondary: #da564a;
	--tertiary: #a65a54;
	--dark: #0b0d17;
	--light: #f9f9f9;
	--grey: #161616;
	--darkgrey: #21212152;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: auto;
}

@media screen and (max-width: 464px) {
	.container {
		width: 90%;
	}
}
